/* Header principal */
header {                  /* activa Flexbox */
    align-items: center;            /* centra verticalmente */
    background-color: #2d2e27;         /* fondo oscuro */
    padding: 1em 2em;               /* espacio interno (arriba/abajo y lados) */
    gap: 20px;                      /* espacio entre elementos */
  }
  
/* Logo */


h1{
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 70px;
    color: #fff;
}
.vr{
    border-left: 2px solid #fff; /* línea vertical blanca */
    height: 40px; /* altura de la línea */
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 70px;
    color: #fff;
}
/* Navegación */
.banderas{

    width: 80px; 
    height: auto;
                        /* espacio entre banderas */
}